<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="description" value="{{excerpt}}">
  {{#if css}}
  <style type="text/css">{{{css}}}</style>
  {{else}}
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  {{/if}}
  {{#if stylesheet}}
  <style type="text/css">{{{stylesheet}}}</style>
  {{/if}}
  <link rel="alternate" type="application/rss+xml" title="{{site.title}}" href="{{site.url}}/feed.rss">
</head>
<body>
